.navHeader {
    width: 100%;
    height: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
    padding: var(--padding);
}

.navLogo {
    width: 200px;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navLink {
    text-decoration: none;
    color: var(--orange);
    font-size: var(--links);
}

.navLink:hover {
    color: var(--gray);
}

.active {
    color: var(--blue);
}